footer {
  .copyright {
    @include basic;
    display: flex;
    line-height: 3em;
    color: #BABABA;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
}

.license {
  float: right;
  padding: 10px;
}
